.loader{

    height: 50px;
  
    width: 50px;
  }
  
  .work{
    border-right:3px solid white; 
    position: relative;
  }
  

  
  input[type=text],input[type=date],input[type=file],textarea{
  
    font-size: 13px !important;
  
    border:1px solid transparent;
  
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
  }
  
  
  
  table{
  
   width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
    
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  
  td{
  
    font-size: 0.9rem !important;
  }
  
  
  thead tr td{
  
    opacity: 0.6;
  }
  
  thead tr{
  
    border-bottom: 1px solid;
  }
  
  

  
  .notification{
  
  color:white;
  background-color: red;
  padding:0px 8px;
  border-radius:50%;
  margin-top:-5px;
  font-size:10px;
  position: absolute;
  }
  
  
  
  
  
  @media only screen and (max-width:767px){
  
  #date{
  
  margin-right: 28px !important;
  }
  
  
  }
  
  #date{
  
  float: right;margin-right: 13px;
  }
  
  #active{
  
    background-color:white;
  
    width: 100%;
  
  }
  
  
  
  @media only screen and (max-width:767px){
  
  i#date{
  
  float:right;
  margin-right: 31px;
  font-size: 12px;
  }
  
  }
  
  
  div p{
  
  
    font-size: 12px;
  
    width: 100%;
  
    padding: 15px 30px;
  
    margin-top: 25px;
  
    border:1px solid rgba(225,225,285,0.8);
  
  
    background-color: rgba(225,225,285,0.8);
  }
  
  
  
  
  
  
  
  
  @media only screen and (max-width:468px){
  
  
  input::placeholder{
  
  
    text-align:left;
  }
  
  }
  
  


  
  
  
   select{
  
    font-size: 14px !important;
    margin-top: 10px;
    width: 30%;
    border:2px solid transparent;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
    padding: 5px;
  
  
  }
  
  
  
   select:focus{
  
   
    border:2px solid skyblue;
  
    outline:2px solid skyblue;
    
  
  
  }
  
  
  

  
  
  .col-md-6{
  
  
    margin-top: 10px;
  
  }
  
  
  
  .col-md-6 h6{
  
    font-weight: bold;
  
    font-size: 15px;
  }
  
  
  .col-md-9 h6{
  
    font-weight: bold;
  }
  
  
  label{
  
    font-size: 13px;
  
    background-color:rgba(240,240,240,0.9);
  
    padding: 20px 23px;
  
    width: 100%;
    margin-top: 30px;
  }
  
  
  
  #product input{
  
    width: 100%;
  
    
  }
