.banner-container{
background-image:linear-gradient(to right top,rgb(194, 113, 25),rgba(255, 196, 134, 0.2));
height:250px;
display:flex;
justify-content:center;
align-items: center;
flex-direction:column;
}

.fw-bold{
    font-weight: bold;
}

.text-sm{
    font-size:14px;
}