.banner-container{
background-image:linear-gradient(to right top,rgb(241, 140, 32),rgba(255, 145, 28, 0.2));
height:250px;
display:flex;
justify-content:center;
align-items: center;
flex-direction:column;
}

.fw-bold{
    font-weight: bold;
}

.text-sm{
    font-size:14px;
}