.footer{
    background-color: #eceaea;
    display:flex;
    justify-content: space-between;
    font-size:14px;
   
    
}

@media screen and (max-width: 768px) {

.footer{
    flex-direction: column;
    justify-content: center;
    gap:20px;
}




}




.footer h6{
    font-weight:bold;
}



.footer .t-1{
    width:50%;
    list-style-type: none;
}

@media screen  and (max-width:768px){
    .footer .t-1{
        width:100%;
        list-style-type: none;
    }  

}


.fs-link{
    display:flex;
    justify-content: start;
    align-items:start;
}


.social{
    gap:10px;
    font-weight:bold;
}


.fs-link div{
    display:flex;
    justify-content: start;
    align-items:start;
    flex-wrap: wrap;
    flex-direction: column;
    gap:10px;
}

.g-4{
    gap:15px !important;
}


