
.nav{
    display: flex;
    justify-content: space-between;
    padding:15px 10px;
}

@media  screen and (max-width: 768px){
    
    .nav{
        display: flex;
        justify-content: space-between;
        padding:15px 3px;
    }


}

.nav div img{
     max-width:180px;
     height:auto;
     margin-top: -10px; 
}

@media  screen and (max-width: 768px){

    .nav div img{
          max-width:110px;      
          margin-top:-0.2rem; 
   }

}


.search-bar input{

     width:280px;
     box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}


@media screen and (max-width:768px) {
    .search-bar input{

         width:230px;
         box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
   }
}




.search-bar .btn-dark{
    margin-left:-80px;
}



.link-container {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.link-container a {
   
    color:black;
    transition:0.3s linear;
  }

.link-container a:hover,.link-container a:focus {
  text-decoration: none;
  color:white;
  background-color: orange;
  padding: 5px 8px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .link-container {
      
        display: none;

     }

}


.create-container{
    display:flex;
    justify-content: center;
    gap:15px;
}

.create-container a{
  color: rgb(37, 37, 37);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.create-container a:hover{
    color: white;
    background-color: orange;
    border-radius:20px;
  }


@media screen and (max-width: 768px){
   
    .create-container{
         display:none;
  
    }

}


.open-nav{
    display:none;
}

@media screen and (max-width: 768px){
   
    .open-nav{
        display:block;
        font-size:23px;
        margin-right:1%;
    }
    
}

/* start of mobile overlay */



.overlay{
    height:100%;
    width:100%;
    display: block !important;
    position:fixed;
    top:0;
    right: 0;
    color:#ffffff;
    background-image:radial-gradient(rgb(33, 106, 124),rgb(16, 44, 51));
    overflow-x:hidden;
    transition: block 3s ease !important;
    z-index: 9;
    
    
    }

    .overlay-content{
    position:relative;
    top:25%;
    width: 100%;
    text-align: center;
    
    }
    
    .overlay a{
    padding: 4px;
    font-size:15px;
    margin:40px 0px;
    color: rgb(255, 255, 255); 
    display: block;
    text-transform: capitalize;
    font-weight:bold;
    font-family:poppins;
    text-transform:bold;
  
    text-decoration:none;
    }


    .overlay a:hover{
        opacity:0.7;
    }
    

@media only screen and (max-width: 768px) {
.section-provider
 {
display:none;
   
}

}



.overlayParent{
display:none !important;


}

/* bars */

.menu-icon{
    display:none;
    background-color: #2f2f2f;
    margin-right:8px;
    }
    
    @media only screen and (max-width: 1200px) {
    
    
        .menu-icon{
    
            display:inline-block;
            width:24px;
            height:30px;
            cursor: pointer;
            position: relative;
            z-index: 99;
            
            }
    
        
         .menu-icon:focus,.menu-icon div:focus{
          opacity:1;
         background-color:rgb(90, 90, 90);
            }
          
            
    
            .bar{
                width:100%;
                height:3px;
                background-color:rgb(27, 27, 27) !important;
                margin:5px 0px;
                transition:0.5s ease-in-out;
                z-index: 99;
               
            }
    
            .menu-icon.close .bar1{
                transform: rotate(45deg) translate(7px, 4px);
                background-color:rgb(86, 86, 86) !important;
            }
    
            .menu-icon.close .bar2{
                opacity: 0;
             }
    
             .menu-icon.close .bar3{
                transform: rotate(-45deg) translate(8px, -4px);
                background-color:rgb(70, 70, 70) !important;
            }
    
    }



/* end of navigation */



.bg-section{
     display: flex;
     justify-content: space-around;
     padding:0px 30px;
     gap:20px;
}

@media screen and (max-width: 768px){
    
.bg-section{
    
     gap:0.4em;
     width: 100%;
}

}

.bg-text span{
    font-size: 13px;
}



.bg-section h1, .bg-section p{
     width:50%;
}

@media screen and (max-width:768px){
    .bg-section h1, .bg-section p{
         width:100%;
    } 

    .bg-section h1{
      font-size: 1.8rem;
      font-weight:bolder;
      width: 10rem;
   } 
   
   .bg-section p{
    font-size: 0.8rem;
 } 

}


.button-container{
      display: flex;
      gap:5px;
      /* width:100%; */
}

@media screen  and (max-width:768px){
    
   .button-container{  
          margin-top:-20px;
          position: relative;
          width:100%;
          
    /* width:100%; */
}
}



.button-container a:nth-child(1){
      background-color:orange;
      color:white;
}

.button-container a:nth-child(2){
      background-color:white;
      color:black;
   
}


@media screen  and (max-width:768px){
    .button-container a:nth-child(1){
        background-color:orange;
        color:white;
        width: 100%;
        font-size:0.8rem;
  }
  
  .button-container a:nth-child(2){
        background-color:white;
        color:black;
        width: 100%;
        font-size:0.8rem;
     
  }

}

.bg-img img{
      max-width:400px;
      height:auto;
}

/* end of solutions */

.service-container{
    margin-top: 6%;
    padding-top:10%;
}

@media screen and (max-width: 768px){
    .service-container{
        margin-top: 17%;
       
    }
}


/* end of services */
.why-section{
     display: flex;
     justify-content: space-between;
     align-items: center;
     
}


@media screen and (max-width:768px){
   
    .why-section{
       
         flex-direction: column;
         gap:15px;
            
       }
      
}

.about-home{
    position: relative;
    margin-top:-35px;
}


.about-section{
      top: 2.2rem;
      position: absolute;
      margin: auto;
      left: 0;
      right:0;
      z-index:1;
      display:flex;
      justify-content: space-between;
   
    
}


@media screen  and (max-width: 768px){
    .about-section{
       
         flex-direction: column;
         gap:10px;
         position: relative;
         top:4%;
        
         
     }
    
}




.about-section div{

     flex-direction: column;
     align-items: center;
     gap:20px;
     padding:20px 80px;
     position: relative;

}

        

.services{
       display:flex;
      justify-content:space-around;
      align-items:start;
      gap:80px;
     flex-wrap:wrap;
     z-index: -9;
     margin-top: 30px;
    
    }
    
    
    
    @media screen and (max-width: 768px){
     
          .services{
                justify-content:space-evenly;
                align-items:start; 
                gap:8px;
              
                
                }
    
    }
    
    
    
    
    .services div{
    
          width: 100px;
          height:100px;
          display: flex;
          justify-content:center;
          align-items: center;
          flex-direction: column;
          gap:15px;
          /* border:1px solid rgb(44, 118, 171); */
          border-radius:15px;
    }
    
    
    @media screen and (max-width: 768px){
     
          .services div{
    
                width:8rem;
                height:8rem;
                gap:5px;
              
          }     
    
    }
    
    
    
    
    .services div img{
    width:50px;
    height:50px;
    object-fit: cover;
    }
       
    
    
    @media screen and (max-width: 768px){
     
          .services div img{
    
                width:50px;
                height:50px;
              
          }     
    
    }
    
    
    .services div span{
      font-size:16px;
      text-transform: capitalize;
          }
            

          @media screen and (max-width: 768px){
                
            .services div span{
                font-size:14px;
                text-transform: capitalize;
                    }

          }





  .appointments{
 gap:25px;
  }

.previous-button,.next-button{
    position: relative;
    cursor: pointer;
}



  .comment-section{
    gap:25px;
  }

  .comment-section img{
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius:50%;
    margin:20px 0px;
 
  }

  .comments-content{
    margin-right:20px;
  }

  .g-3{
    gap:5px;
  }

  .g-5{
    gap: 10px;
  }

  .contact-container{
     display: flex;
     flex-direction: column;
     gap:25px; 
  }

  .jumbotron label, .jumbotron input{
     font-size:0.9rem;
  }

  .contact-container .contact-content{
     box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
     height:7rem;
     align-items:flex-start;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap:4px;
     
  }

  .contact-container .contact-content div{
     display: flex;
     flex-direction:column;
     gap: 4px;

  }

  input[type=date]::placeholder{
    opacity:0.5 !important;
  }

  input:focus,textarea:focus{
    border:none;
    outline: none;
  }