
.bg-login .logo{
    position: relative;
    margin-left: 20px;
     
}

@media screen  and (max-width:768px) {

  .bg-login .logo{
    opacity: 0;
  }
}

.bg-login svg{
  margin-top: -28px;
}


@media screen  and (max-width:768px) {

  .bg-login svg{
    margin-top: 0px;
  }
}


.back-button{
  color: white;
  margin-top:40px;

}

@media screen  and (max-width:768px) {

   .back-button{
      color: rgb(14, 14, 14);
     margin-top: -10px;
  position: relative;

}

}


.g-5{
    gap:15px;
}

.form-container{
    margin-top:-130px;
    position: relative;
}


@media screen  and (max-width:768px) {

  .form-container{
    margin-top:-20px;
    position: relative;
  }
}


.form-container input, .form-container select{
     border:1px solid transparent;
     border-bottom:1px solid grey;
     font-size:14px;

}


.form-container input:hover, .form-container input:focus, .form-container select:focus, .form-container select:hover{
    border:1px solid transparent;
    border-bottom:1px solid grey;
    outline: none;
    
  
  }


.form-container label{
margin-top:30px;
}


.hide{
   display: none; 
   flex-direction: column;
}

.first-form{
    display: flex;
    flex-direction: column;
}

.btn-default{
   font-size:14px;   
}